.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}
.acceptedInmap {
  color: var(--redColor);
  font-weight: 700;
  cursor: pointer;
}
.coordinate-wrapper {
  display: flex;
  justify-content: center;
  > div {
    margin: 0 2em;
    > span {
      display: block;
      padding: 0.5em 0;
    }
    input {
      width: 9em;
      text-align: center;
    }
  }
}
