.card-details-row.cover-image {
  width: 55%;
  margin: auto;
  height: 220px;
  box-shadow: var(--boxShadowLow);
  position: relative;
  padding: unset;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  i {
    position: absolute;
    left: 3px;
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
  }

  &:hover i {
    font-size: 23px;
  }
}
