.leaflet-container {
  height: 30em;
  width: 100%;
  border: 3px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.markerPopUp {
  font-family: iranSans, serif;
  .markerImage {
    height: 8em;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
  .markerTitle {
    font-size: 1.1em;
    margin: 0.5em 0;
    span {
      font-weight: 700;
    }
  }
}
