/* #subjectModal {
  z-index: 30;
}
#subjectModal.fadeIn {
  -webkit-animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#subjectModal.fadeOut {
  -webkit-animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.btn-submited-container {
  display: flex;
  justify-content: space-evenly;
}

.subjectModal-box {
  width: 400px;
  background: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px 20px;
  margin: auto;
}
.subjectModal-AddInformation {
  line-height: normal;
  margin-bottom: 20px;
}
.subjectModal-AddInformation > label {
  margin: 0 0 12px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: start;
}
.subjectModal-AddInformation > input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  background-color: #eee;
  text-align: center;
}
.addFileModalContainer {
  position: relative;
}
.addFileModalContainer > div {
  width: 100%;
  border: 1px solid;
  padding: 6px 20px;
  border-radius: 10px 0 0 10px;
  height: 42px;
  overflow: hidden;
}
.addFileModalContainer > label > span {
  background-color: #003265;

  display: flex;

  border-radius: 10px;

  text-align: center;

  height: 100%;

  justify-content: center;

  line-height: normal;
}
.addFileModalContainer > label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 6px;
  overflow: hidden;
  width: 126px;
  height: 43px;
  color: white;
  text-align: center;
  /* width: 51px; */

/* cursor: pointer; */
/* } */

/* .addFileModalContainer > label > input {
  visibility: hidden;
}

.submitedBtn button {
  width: 100px;
  background-color: #208000;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  padding: 8px;
  box-shadow: 1px 1px 5px 0px green;
}
.submitedBtn button:hover {
  box-shadow: 1px 1px 9px 0px green;
}
.submitedBtn.closed button {
  background-color: white;
  color: black;
  border: unset;
  box-shadow: 1px 1px 5px 0 #636363;
}
.submitedBtn.closed button:hover {
  box-shadow: 1px 1px 15px 0 #636363;
}  */
/* 
@-webkit-keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
} */
