.detailsRow-wrapper {
  display: flex;
  flex-wrap: wrap;
  > div {
    flex: 1;
  }
}
.show-card-elements-details {
  padding: 2em;
  .btn-toolbar {
    justify-content: flex-end;
    position: absolute;
    left: 0;
  }
}
.card-details-row {
  margin: 20px;
  line-height: normal;
  // box-shadow: var(--boxShadowLow);
  p {
    text-align: justify;
    padding: 10px;
  }
}

.rotate-84::after {
  transform: rotate(-84deg);
  cursor: pointer;
}
.about-title {
  padding: 10px 0;
  font-size: 1.2em;
  span {
    padding: 5px 10px;
    font-weight: 600;
    border-bottom: 1px solid var(--redColor);
  }
  i {
    font-size: 0.9em;
  }
}
.about-title {
  position: relative;
  align-items: center;
  display: flex;
  .btns-container {
    position: absolute;
    left: 0;
    > a {
      padding: 0.1em 1em 0.1em;
      width: auto;
    }
  }
}
.card-details-row textarea {
  width: 100%;
  height: 3em;

  padding: 5px 10px;
}

@media (max-width: 1050px) {
  .detailsRow-wrapper {
    display: flex;
    // flex-wrap: wrap;
    // flex-flow: column;
  }
}
