.elemnts-box {
  padding: 10px;
  min-width: 60%;
  border-radius: 6px;
}
.subtitle-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > span {
    padding: 0.5em;
    color: #717171;
    border-bottom: 1px solid #717171;
  }
}
.show-elements {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.show-data-title-box {
  margin: 10px;
  min-width: 100px;
  text-align: center;
  box-shadow: var(--boxShadowLow);
  padding: 5px;
  color: #717171;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: var(--boxShadowLowHover);
    color: black;
    font-weight: 700;
  }
}
