.panelAdmin-wrapper {
  //   min-width: 1500px;
}
.form-countainer {
  padding: 10px;
  box-shadow: var(--boxShadowLow);
  border-radius: 8px;
  min-width: 50%;
  width: 50%;
  margin: auto;
  background-color: white;
}
.formFlex {
  .form-countainer {
    width: 70%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  .Input {
    width: 49%;
  }
  .serached-item {
    flex-flow: column;
  }
  .searched-text > span {
    text-align: center;
    line-height: normal;
  }
}
.form-subtitle {
  padding: 10px 10px 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;

  color: black;

  font-weight: 700;
}
.list-unstyled {
  height: 120px;
  overflow: auto;
}
.row-give-information {
  > div {
    padding: 10px;
    display: flex;

    justify-content: space-between;

    flex-direction: column;
    .dropdown {
      padding: 10px;

      border: 1px solid #9f9f9f;

      border-radius: 10px;
      text-align: center;
      color: black;
    }

    > label {
      margin: 5px;

      font-size: 15px;

      font-weight: 600;
    }
    > input {
      border: 1px solid #ccc;

      border-radius: 8px;
      padding: 5px 10px;
      &:focus {
        box-shadow: var(--boxShadowLow);
        border: 2px solid var(--blueLight);
      }
    }
    > * {
      margin: 5px;
    }
  }
}
