.dropdown {
  > a {
    width: 50%;
    display: block;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  .list-unstyled {
    > a {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
