.panelAdmin-sideBar-container {
  height: 100vh;
  width: var(--sideMenuWidth);
  display: inline-flex;
  box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--sidebarBgColor);
  color: white;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 100;
  a:hover {
    color: white;
  }
}

.change-position {
  text-transform: uppercase;
  padding: 0.5em 2em;
  margin: 2em 0 0;
  font-weight: 700;
  text-align: start;
}
.logo-side-iteme {
  margin: 1em 0 0 !important;
}
.side-header {
  padding: 0.5em 2em;
  letter-spacing: 1px;
  text-align: start;
  font-size: 15;
  user-select: none;
}
.side-iteme {
  transition: all 0.5s linear;
}

.side-link {
  border-radius: 0;
  padding: 1em 1.2em;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  > span {
    margin: 0 10px;
    font-size: 1em;
    letter-spacing: 0.1em;
  }
}
.side-link.unsetRotate::after {
  transform: rotate(180deg);

  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.side-link.icon-right-open.arrowRotate::after {
  transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.side-header.marginLow {
  margin: 0.5em 0;
}
.side-link > .icon-photo::before {
  font-size: 20px;
}
.side-link::after {
  margin-right: auto;
  font-size: 0.8em;
}

.side-link#activedSide,
.side-link.activedSide {
  font-weight: 900;
  background: #07a7e3;
  background: -webkit-linear-gradient(-45deg, var(--blueLight), var(--blueLight2));
  background: -webkit-linear-gradient(315deg, var(--blueLight), var(--blueLight2));
  background: -o-linear-gradient(315deg, var(--blueLight) 0, var(--blueLight2) 100%);
  background: linear-gradient(135deg, var(--blueLight), var(--blueLight2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.side-link:hover {
  background-color: var(--blackLight);
}
.side-child-ling#activedSideChild,
.side-child-ling.activedSideChild {
  background: #07a7e3;
  background: -webkit-linear-gradient(-45deg, var(--blueVerylight), var(--blueVerylight2));
  background: -webkit-linear-gradient(315deg, var(--blueVerylight), var(--blueVerylight2));
  background: -o-linear-gradient(315deg, var(--blueVerylight) 0, var(--blueVerylight2) 100%);
  background: linear-gradient(135deg, var(--blueVerylight), var(--blueVerylight2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  // color: black;
  font-weight: 800;
}
.side-child-ling:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#sideChildTitle {
  padding: 1em 1.5em 1em 0;
  border-right: 0.3em solid #07a7e3;
}
.side-child-navigation {
  overflow: hidden;
  height: 0;
}

// ===================================== Mehrad Css
.activeMenu {
  font-weight: 900;
  background: #07a7e3;
  background: -webkit-linear-gradient(-45deg, var(--blueLight), var(--blueLight2));
  background: -webkit-linear-gradient(315deg, var(--blueLight), var(--blueLight2));
  background: -o-linear-gradient(315deg, var(--blueLight) 0, var(--blueLight2) 100%);
  background: linear-gradient(135deg, var(--blueLight), var(--blueLight2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.lgHolder {
  height: 5em;
  padding: 1em;
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  justify-content: center;
}
