@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: bold;
  src: url("./eot/iranSansBold.eot");
  src: url("./eot/iranSansBold.eot?#iefix") format("embedded-opentype"), /* IE6-8 */ url("./woff2/iranSansBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./woff/iranSansBold.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./ttf/iranSansBold.ttf") format("truetype");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 500;
  src: url("./eot/iranSansMedium.eot");
  src: url("./eot/iranSansMedium.eot?#iefix") format("embedded-opentype"), /* IE6-8 */ url("./woff2/iranSansMedium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./woff/iranSansMedium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./ttf/iranSansMedium.ttf") format("truetype");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  src: url("./eot/iranSansLight.eot");
  src: url("./eot/iranSansLight.eot?#iefix") format("embedded-opentype"), /* IE6-8 */ url("./woff2/iranSansLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./woff/iranSansLight.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./ttf/iranSansMedium.ttf") format("truetype");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 200;
  src: url("./eot/iranSansUltraLight.eot");
  src: url("./eot/iranSansUltraLight.eot?#iefix") format("embedded-opentype"), /* IE6-8 */ url("./woff2/iranSansUltraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./woff/iranSansUltraLight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./ttf/iranSansUltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("./eot/iranSans.eot");
  src: url("./eot/iranSans.eot?#iefix") format("embedded-opentype"), /* IE6-8 */ url("./woff2/iranSans.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./woff/iranSans.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./ttf/iranSans.ttf") format("truetype");
}
@font-face {
  font-family: "fontIcon";
  src: url("./eot/fontello.eot?11153450");
  src: url("./eot/fontello.eot?11153450#iefix") format("embedded-opentype"), url("./woff2/fontello.woff2?11153450") format("woff2"),
    url("./woff/fontello.woff?11153450") format("woff"), url("./ttf/fontello.ttf?11153450") format("truetype"), url("./svg/fontello.svg?11153450#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::after,
[class*=" icon-"]::after,
[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "fontIcon";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-emo-happy::after {
  content: "\e800";
} /* '' */
.icon-music::after {
  content: "\e801";
} /* '' */
.icon-emo-unhappy::after {
  content: "\e802";
} /* '' */
.icon-search::after {
  content: "\e803";
} /* '' */
.icon-mail::after {
  content: "\e804";
} /* '' */
.icon-heart::after {
  content: "\e805";
} /* '' */
.icon-heart-empty::after {
  content: "\e806";
} /* '' */
.icon-star::after {
  content: "\e807";
} /* '' */
.icon-star-empty::after {
  content: "\e808";
} /* '' */
.icon-video::after {
  content: "\e809";
} /* '' */
.icon-videocam::after {
  content: "\e80a";
} /* '' */
.icon-picture::after {
  content: "\e80b";
} /* '' */
.icon-camera::after {
  content: "\e80c";
} /* '' */
.icon-camera-alt::after {
  content: "\e80d";
} /* '' */
.icon-th-large::after {
  content: "\e80e";
} /* '' */
.icon-th-list::after {
  content: "\e80f";
} /* '' */
.icon-th::after {
  content: "\e810";
} /* '' */
.icon-ok::after {
  content: "\e811";
} /* '' */
.icon-ok-circled::after {
  content: "\e812";
} /* '' */
.icon-ok-circled2::after {
  content: "\e813";
} /* '' */
.icon-cancel::after {
  content: "\e814";
} /* '' */
.icon-plus::after {
  content: "\e815";
} /* '' */
.icon-plus-circled::after {
  content: "\e816";
} /* '' */
.icon-minus::after {
  content: "\e817";
} /* '' */
.icon-tag::after {
  content: "\e818";
} /* '' */
.icon-eye-off::after {
  content: "\e819";
} /* '' */
.icon-eye::after {
  content: "\e81a";
} /* '' */
.icon-pin::after {
  content: "\e81b";
} /* '' */
.icon-lock-open::after {
  content: "\e81c";
} /* '' */
.icon-cancel-circled::after {
  content: "\e81d";
} /* '' */
.icon-lock::after {
  content: "\e81e";
} /* '' */
.icon-attach::after {
  content: "\e81f";
} /* '' */
.icon-link::after {
  content: "\e820";
} /* '' */
.icon-home::after {
  content: "\e821";
} /* '' */
.icon-minus-circled::after {
  content: "\e822";
} /* '' */
.icon-tags::after {
  content: "\e823";
} /* '' */
.icon-bookmark::after {
  content: "\e824";
} /* '' */
.icon-flag::after {
  content: "\e825";
} /* '' */
.icon-thumbs-up::after {
  content: "\e826";
} /* '' */
.icon-thumbs-down::after {
  content: "\e827";
} /* '' */
.icon-download::after {
  content: "\e828";
} /* '' */
.icon-upload::after {
  content: "\e829";
} /* '' */
.icon-forward::after {
  content: "\e82a";
} /* '' */
.icon-bell::after {
  content: "\e82b";
} /* '' */
.icon-chat::after {
  content: "\e82c";
} /* '' */
.icon-comment::after {
  content: "\e82d";
} /* '' */
.icon-print::after {
  content: "\e82e";
} /* '' */
.icon-edit::after {
  content: "\e82f";
} /* '' */
.icon-spin1::after {
  content: "\e830";
} /* '' */
.icon-spin2::after {
  content: "\e831";
} /* '' */
.icon-spin3::after {
  content: "\e832";
} /* '' */
.icon-attention::after {
  content: "\e833";
} /* '' */
.icon-spin4::after {
  content: "\e834";
} /* '' */

.icon-attention-circled::after {
  content: "\e835";
} /* '' */
.icon-location::after {
  content: "\e836";
} /* '' */
.icon-pencil::after {
  content: "\e837";
} /* '' */
.icon-spin5::after {
  content: "\e838";
} /* '' */
.icon-spin6::after {
  content: "\e839";
} /* '' */
.icon-doc::after {
  content: "\e83a";
} /* '' */
.icon-trash-empty::after {
  content: "\e83b";
} /* '' */
.icon-calendar::after {
  content: "\e83c";
} /* '' */
.icon-basket::after {
  content: "\e83d";
} /* '' */
.icon-wrench::after {
  content: "\e83e";
} /* '' */
.icon-cog-alt::after {
  content: "\e83f";
} /* '' */
.icon-firefox::after {
  content: "\e840";
} /* '' */
.icon-chrome::after {
  content: "\e841";
} /* '' */
.icon-opera::after {
  content: "\e842";
} /* '' */
.icon-cog::after {
  content: "\e843";
} /* '' */
.icon-phone::after {
  content: "\e844";
} /* '' */
.icon-folder-open::after {
  content: "\e845";
} /* '' */
.icon-folder::after {
  content: "\e846";
} /* '' */
.icon-login::after {
  content: "\e847";
} /* '' */
.icon-logout::after {
  content: "\e848";
} /* '' */
.icon-volume-down::after {
  content: "\e849";
} /* '' */
.icon-volume-off::after {
  content: "\e84a";
} /* '' */
.icon-volume-up::after {
  content: "\e84b";
} /* '' */
.icon-headphones::after {
  content: "\e84c";
} /* '' */
.icon-clock::after {
  content: "\e84d";
} /* '' */
.icon-block::after {
  content: "\e84e";
} /* '' */
.icon-resize-full::after {
  content: "\e84f";
} /* '' */
.icon-resize-small::after {
  content: "\e850";
} /* '' */
.icon-resize-vertical::after {
  content: "\e851";
} /* '' */
.icon-resize-horizontal::after {
  content: "\e852";
} /* '' */
.icon-zoom-out::after {
  content: "\e853";
} /* '' */
.icon-zoom-in::after {
  content: "\e854";
} /* '' */
.icon-award::after {
  content: "\e855";
} /* '' */
.icon-right-open::after {
  content: "\e856";
} /* '' */
.icon-signal::after {
  content: "\e857";
} /* '' */
.icon-target::after {
  content: "\e858";
} /* '' */
.icon-right-dir::after {
  content: "\e859";
} /* '' */
.icon-ccw::after {
  content: "\e85a";
} /* '' */
.icon-shuffle::after {
  content: "\e85b";
} /* '' */
.icon-up-dir::after {
  content: "\e85c";
} /* '' */
.icon-down-hand::after {
  content: "\e85d";
} /* '' */
.icon-up-hand::after {
  content: "\e85e";
} /* '' */
.icon-play::after {
  content: "\e85f";
} /* '' */
.icon-stop::after {
  content: "\e860";
} /* '' */
.icon-play-circled2::after {
  content: "\e861";
} /* '' */
.icon-pause::after {
  content: "\e862";
} /* '' */
.icon-to-end-alt::after {
  content: "\e863";
} /* '' */
.icon-to-start::after {
  content: "\e864";
} /* '' */
.icon-to-end::after {
  content: "\e865";
} /* '' */
.icon-umbrella::after {
  content: "\e866";
} /* '' */
.icon-inbox::after {
  content: "\e867";
} /* '' */
.icon-globe::after {
  content: "\e868";
} /* '' */
.icon-cloud::after {
  content: "\e869";
} /* '' */
.icon-flash::after {
  content: "\e86a";
} /* '' */
.icon-barcode::after {
  content: "\e86b";
} /* '' */
.icon-indent-right::after {
  content: "\e86c";
} /* '' */
.icon-indent-left::after {
  content: "\e86d";
} /* '' */
.icon-align-justify::after {
  content: "\e86e";
} /* '' */
.icon-align-right::after {
  content: "\e86f";
} /* '' */
.icon-align-center::after {
  content: "\e870";
} /* '' */
.icon-align-left::after {
  content: "\e871";
} /* '' */
.icon-leaf::after {
  content: "\e872";
} /* '' */
.icon-adjust::after {
  content: "\e873";
} /* '' */
.icon-scissors::after {
  content: "\e874";
} /* '' */
.icon-hammer::after {
  content: "\e875";
} /* '' */
.icon-floppy::after {
  content: "\e876";
} /* '' */
.icon-truck::after {
  content: "\e877";
} /* '' */
.icon-user::after {
  content: "\e878";
} /* '' */
.icon-users::after {
  content: "\e879";
} /* '' */
.icon-user-add::after {
  content: "\e87a";
} /* '' */
.icon-note-beamed::after {
  content: "\e87b";
} /* '' */
.icon-search-1::after {
  content: "\e87c";
} /* '' */
.icon-key::after {
  content: "\e87d";
} /* '' */
.icon-basket-1::after {
  content: "\e87e";
} /* '' */
.icon-phone-outline::after {
  content: "\e87f";
} /* '' */
.icon-phone-1::after {
  content: "\e880";
} /* '' */
.icon-location-outline::after {
  content: "\e881";
} /* '' */
.icon-chat-alt::after {
  content: "\e882";
} /* '' */
.icon-pencil-1::after {
  content: "\e883";
} /* '' */
.icon-eye-1::after {
  content: "\e884";
} /* '' */
.icon-at::after {
  content: "\e885";
} /* '' */
.icon-user-1::after {
  content: "\e886";
} /* '' */
.icon-heart-1::after {
  content: "\e887";
} /* '' */
.icon-mail-1::after {
  content: "\e888";
} /* '' */
.icon-export::after {
  content: "\e889";
} /* '' */
.icon-pencil-2::after {
  content: "\e88a";
} /* '' */
.icon-clock-1::after {
  content: "\e88b";
} /* '' */
.icon-print-1::after {
  content: "\e88c";
} /* '' */
.icon-camera-1::after {
  content: "\e88d";
} /* '' */
.icon-video-alt::after {
  content: "\e88e";
} /* '' */
.icon-trash-1::after {
  content: "\e88f";
} /* '' */
.icon-globe-1::after {
  content: "\e890";
} /* '' */
.icon-left-dir::after {
  content: "\e891";
} /* '' */
.icon-rain-inv::after {
  content: "\e892";
} /* '' */
.icon-snow-heavy-inv::after {
  content: "\e893";
} /* '' */
.icon-windy-rain-inv::after {
  content: "\e894";
} /* '' */
.icon-snow-inv::after {
  content: "\e895";
} /* '' */
.icon-clouds-inv::after {
  content: "\e896";
} /* '' */
.icon-hail-inv::after {
  content: "\e897";
} /* '' */
.icon-clouds-flash-inv::after {
  content: "\e898";
} /* '' */
.icon-ok-1::after {
  content: "\e899";
} /* '' */
.icon-calendar-2::after {
  content: "\e89a";
} /* '' */
.icon-grooveshark::after {
  content: "\e89b";
} /* '' */
.icon-duckduckgo::after {
  content: "\e89c";
} /* '' */
.icon-flattr::after {
  content: "\e89d";
} /* '' */
.icon-buffer::after {
  content: "\e89e";
} /* '' */
.icon-edit-1::after {
  content: "\e89f";
} /* '' */
.icon-edit-alt::after {
  content: "\e8a0";
} /* '' */
.icon-video-alt-1::after {
  content: "\e8a1";
} /* '' */
.icon-videocam-1::after {
  content: "\e8a2";
} /* '' */
.icon-user-2::after {
  content: "\e8a3";
} /* '' */
.icon-heart-circled::after {
  content: "\e8a4";
} /* '' */
.icon-photo::after {
  content: "\e8a5";
} /* '' */
.icon-folder-1::after {
  content: "\e8a6";
} /* '' */
.icon-desktop-1::after {
  content: "\e8a7";
} /* '' */
.icon-clipboard::after {
  content: "\e8a8";
} /* '' */
.icon-barcode-1::after {
  content: "\e8a9";
} /* '' */
.icon-cloud-circled::after {
  content: "\e8aa";
} /* '' */
.icon-blind::after {
  content: "\e8ab";
} /* '' */
.icon-foursquare::after {
  content: "\e8ac";
} /* '' */
.icon-progress-7::after {
  content: "\e8ad";
} /* '' */
.icon-th-list-1::after {
  content: "\e8ae";
} /* '' */
.icon-th-1::after {
  content: "\e8af";
} /* '' */
.icon-th-large-1::after {
  content: "\e8b0";
} /* '' */
.icon-picture-1::after {
  content: "\e8b1";
} /* '' */
.icon-video-1::after {
  content: "\e8b2";
} /* '' */
.icon-link-1::after {
  content: "\e8b3";
} /* '' */
.icon-logout-1::after {
  content: "\e8b4";
} /* '' */
.icon-lock-1::after {
  content: "\e8b5";
} /* '' */
.icon-location-1::after {
  content: "\e8b6";
} /* '' */
.icon-arrows-cw::after {
  content: "\e8b7";
} /* '' */
.icon-signal-1::after {
  content: "\e8b8";
} /* '' */
.icon-color-adjust::after {
  content: "\f020";
} /* '' */
.icon-move::after {
  content: "\f047";
} /* '' */
.icon-github-circled-alt2::after {
  content: "\f056";
} /* '' */
.icon-gplus-1::after {
  content: "\f05a";
} /* '' */
.icon-linkedin::after {
  content: "\f05c";
} /* '' */
.icon-bookmark-empty::after {
  content: "\f097";
} /* '' */
.icon-phone-squared::after {
  content: "\f098";
} /* '' */
.icon-twitter::after {
  content: "\f099";
} /* '' */
.icon-rss::after {
  content: "\f09e";
} /* '' */
.icon-certificate::after {
  content: "\f0a3";
} /* '' */
.icon-resize-full-alt::after {
  content: "\f0b2";
} /* '' */
.icon-beaker::after {
  content: "\f0c3";
} /* '' */
.icon-docs::after {
  content: "\f0c5";
} /* '' */
.icon-menu::after {
  content: "\f0c9";
} /* '' */
.icon-gplus::after {
  content: "\f0d5";
} /* '' */
.icon-money::after {
  content: "\f0d6";
} /* '' */
.icon-mail-alt::after {
  content: "\f0e0";
} /* '' */
.icon-gauge::after {
  content: "\f0e4";
} /* '' */
.icon-comment-empty::after {
  content: "\f0e5";
} /* '' */
.icon-chat-empty::after {
  content: "\f0e6";
} /* '' */
.icon-lightbulb::after {
  content: "\f0eb";
} /* '' */
.icon-exchange::after {
  content: "\f0ec";
} /* '' */
.icon-download-cloud::after {
  content: "\f0ed";
} /* '' */
.icon-upload-cloud::after {
  content: "\f0ee";
} /* '' */
.icon-suitcase::after {
  content: "\f0f2";
} /* '' */
.icon-bell-alt::after {
  content: "\f0f3";
} /* '' */
.icon-doc-text::after {
  content: "\f0f6";
} /* '' */
.icon-building::after {
  content: "\f0f7";
} /* '' */
.icon-hospital::after {
  content: "\f0f8";
} /* '' */
.icon-fighter-jet::after {
  content: "\f0fb";
} /* '' */
.icon-h-sigh::after {
  content: "\f0fd";
} /* '' */
.icon-angle-double-right::after {
  content: "\f101";
} /* '' */
.icon-angle-left::after {
  content: "\f104";
} /* '' */
.icon-desktop::after {
  content: "\f108";
} /* '' */
.icon-laptop::after {
  content: "\f109";
} /* '' */
.icon-tablet::after {
  content: "\f10a";
} /* '' */
.icon-mobile::after {
  content: "\f10b";
} /* '' */
.icon-quote-left::after {
  content: "\f10d";
} /* '' */
.icon-quote-right::after {
  content: "\f10e";
} /* '' */
.icon-spinner::after {
  content: "\f110";
} /* '' */
.icon-reply::after {
  content: "\f112";
} /* '' */
.icon-folder-empty::after {
  content: "\f114";
} /* '' */
.icon-folder-open-empty::after {
  content: "\f115";
} /* '' */
.icon-smile::after {
  content: "\f118";
} /* '' */
.icon-frown::after {
  content: "\f119";
} /* '' */
.icon-meh::after {
  content: "\f11a";
} /* '' */
.icon-gamepad::after {
  content: "\f11b";
} /* '' */
.icon-keyboard::after {
  content: "\f11c";
} /* '' */
.icon-flag-empty::after {
  content: "\f11d";
} /* '' */
.icon-flag-checkered::after {
  content: "\f11e";
} /* '' */
.icon-code::after {
  content: "\f121";
} /* '' */
.icon-reply-all::after {
  content: "\f122";
} /* '' */
.icon-direction::after {
  content: "\f124";
} /* '' */
.icon-info::after {
  content: "\f129";
} /* '' */
.icon-attention-alt::after {
  content: "\f12a";
} /* '' */
.icon-mic::after {
  content: "\f130";
} /* '' */
.icon-mute::after {
  content: "\f131";
} /* '' */
.icon-calendar-empty::after {
  content: "\f133";
} /* '' */
.icon-angle-circled-left::after {
  content: "\f137";
} /* '' */
.icon-lock-open-alt::after {
  content: "\f13e";
} /* '' */
.icon-rss-squared::after {
  content: "\f143";
} /* '' */
.icon-play-circled::after {
  content: "\f144";
} /* '' */
.icon-level-up::after {
  content: "\f148";
} /* '' */
.icon-ok-squared::after {
  content: "\f14a";
} /* '' */
.icon-pencil-squared::after {
  content: "\f14b";
} /* '' */
.icon-link-ext-alt::after {
  content: "\f14c";
} /* '' */
.icon-expand::after {
  content: "\f150";
} /* '' */
.icon-dollar::after {
  content: "\f155";
} /* '' */
.icon-doc-inv::after {
  content: "\f15b";
} /* '' */
.icon-doc-text-inv::after {
  content: "\f15c";
} /* '' */
.icon-thumbs-up-alt::after {
  content: "\f164";
} /* '' */
.icon-thumbs-down-alt::after {
  content: "\f165";
} /* '' */
.icon-stackoverflow::after {
  content: "\f16c";
} /* '' */
.icon-right::after {
  content: "\f178";
} /* '' */
.icon-windows::after {
  content: "\f17a";
} /* '' */
.icon-android::after {
  content: "\f17b";
} /* '' */
.icon-female::after {
  content: "\f182";
} /* '' */
.icon-male::after {
  content: "\f183";
} /* '' */
.icon-sun::after {
  content: "\f185";
} /* '' */
.icon-moon::after {
  content: "\f186";
} /* '' */
.icon-box::after {
  content: "\f187";
} /* '' */
.icon-right-circled2::after {
  content: "\f18e";
} /* '' */
.icon-wheelchair::after {
  content: "\f193";
} /* '' */
.icon-mail-squared::after {
  content: "\f199";
} /* '' */
.icon-wordpress::after {
  content: "\f19a";
} /* '' */
.icon-google::after {
  content: "\f1a0";
} /* '' */
.icon-fax::after {
  content: "\f1ac";
} /* '' */
.icon-building-filled::after {
  content: "\f1ad";
} /* '' */
.icon-cube::after {
  content: "\f1b2";
} /* '' */
.icon-cab::after {
  content: "\f1b9";
} /* '' */
.icon-taxi::after {
  content: "\f1ba";
} /* '' */
.icon-database::after {
  content: "\f1c0";
} /* '' */
.icon-file-pdf::after {
  content: "\f1c1";
} /* '' */
.icon-file-word::after {
  content: "\f1c2";
} /* '' */
.icon-file-excel::after {
  content: "\f1c3";
} /* '' */
.icon-file-powerpoint::after {
  content: "\f1c4";
} /* '' */
.icon-file-archive::after {
  content: "\f1c6";
} /* '' */
.icon-file-code::after {
  content: "\f1c9";
} /* '' */
.icon-rebel::after {
  content: "\f1d0";
} /* '' */
.icon-wechat::after {
  content: "\f1d7";
} /* '' */
.icon-paper-plane::after {
  content: "\f1d8";
} /* '' */
.icon-paper-plane-empty::after {
  content: "\f1d9";
} /* '' */
.icon-history::after {
  content: "\f1da";
} /* '' */
.icon-sliders::after {
  content: "\f1de";
} /* '' */
.icon-share::after {
  content: "\f1e0";
} /* '' */
.icon-soccer-ball::after {
  content: "\f1e3";
} /* '' */
.icon-tty::after {
  content: "\f1e4";
} /* '' */
.icon-binoculars::after {
  content: "\f1e5";
} /* '' */
.icon-plug::after {
  content: "\f1e6";
} /* '' */
.icon-wifi::after {
  content: "\f1eb";
} /* '' */
.icon-calc::after {
  content: "\f1ec";
} /* '' */
.icon-cc-visa::after {
  content: "\f1f0";
} /* '' */
.icon-cc-mastercard::after {
  content: "\f1f1";
} /* '' */
.icon-cc-discover::after {
  content: "\f1f2";
} /* '' */
.icon-cc-amex::after {
  content: "\f1f3";
} /* '' */
.icon-cc-paypal::after {
  content: "\f1f4";
} /* '' */
.icon-cc-stripe::after {
  content: "\f1f5";
} /* '' */
.icon-bell-off::after {
  content: "\f1f6";
} /* '' */
.icon-bell-off-empty::after {
  content: "\f1f7";
} /* '' */
.icon-trash::after {
  content: "\f1f8";
} /* '' */
.icon-bicycle::after {
  content: "\f206";
} /* '' */
.icon-bus::after {
  content: "\f207";
} /* '' */
.icon-cart-plus::after {
  content: "\f217";
} /* '' */
.icon-cart-arrow-down::after {
  content: "\f218";
} /* '' */
.icon-diamond::after {
  content: "\f219";
} /* '' */
.icon-motorcycle::after {
  content: "\f21c";
} /* '' */
.icon-venus::after {
  content: "\f221";
} /* '' */
.icon-mars::after {
  content: "\f222";
} /* '' */
.icon-mercury::after {
  content: "\f223";
} /* '' */
.icon-transgender::after {
  content: "\f224";
} /* '' */
.icon-transgender-alt::after {
  content: "\f225";
} /* '' */
.icon-venus-double::after {
  content: "\f226";
} /* '' */
.icon-mars-double::after {
  content: "\f227";
} /* '' */
.icon-venus-mars::after {
  content: "\f228";
} /* '' */
.icon-mars-stroke::after {
  content: "\f229";
} /* '' */
.icon-mars-stroke-v::after {
  content: "\f22a";
} /* '' */
.icon-mars-stroke-h::after {
  content: "\f22b";
} /* '' */
.icon-neuter::after {
  content: "\f22c";
} /* '' */
.icon-whatsapp::after {
  content: "\f232";
} /* '' */
.icon-server::after {
  content: "\f233";
} /* '' */
.icon-bed::after {
  content: "\f236";
} /* '' */
.icon-train::after {
  content: "\f238";
} /* '' */
.icon-battery-4::after {
  content: "\f240";
} /* '' */
.icon-battery-3::after {
  content: "\f241";
} /* '' */
.icon-battery-2::after {
  content: "\f242";
} /* '' */
.icon-battery-0::after {
  content: "\f244";
} /* '' */
.icon-mouse-pointer::after {
  content: "\f245";
} /* '' */
.icon-object-ungroup::after {
  content: "\f248";
} /* '' */
.icon-hourglass-o::after {
  content: "\f250";
} /* '' */
.icon-hourglass-1::after {
  content: "\f251";
} /* '' */
.icon-hourglass-2::after {
  content: "\f252";
} /* '' */
.icon-hourglass-3::after {
  content: "\f253";
} /* '' */
.icon-hourglass::after {
  content: "\f254";
} /* '' */
.icon-hand-grab-o::after {
  content: "\f255";
} /* '' */
.icon-hand-paper-o::after {
  content: "\f256";
} /* '' */
.icon-hand-pointer-o::after {
  content: "\f25a";
} /* '' */
.icon-opera-1::after {
  content: "\f26a";
} /* '' */
.icon-internet-explorer::after {
  content: "\f26b";
} /* '' */
.icon-amazon::after {
  content: "\f270";
} /* '' */
.icon-calendar-plus-o::after {
  content: "\f271";
} /* '' */
.icon-calendar-minus-o::after {
  content: "\f272";
} /* '' */
.icon-calendar-times-o::after {
  content: "\f273";
} /* '' */
.icon-calendar-check-o::after {
  content: "\f274";
} /* '' */
.icon-map::after {
  content: "\f279";
} /* '' */
.icon-commenting::after {
  content: "\f27a";
} /* '' */
.icon-commenting-o::after {
  content: "\f27b";
} /* '' */
.icon-credit-card-alt::after {
  content: "\f283";
} /* '' */
.icon-usb::after {
  content: "\f287";
} /* '' */
.icon-stop-circle::after {
  content: "\f28d";
} /* '' */
.icon-shopping-bag::after {
  content: "\f290";
} /* '' */
.icon-shopping-basket::after {
  content: "\f291";
} /* '' */
.icon-envira::after {
  content: "\f299";
} /* '' */
.icon-american-sign-language-interpreting::after {
  content: "\f2a3";
} /* '' */
.icon-asl-interpreting::after {
  content: "\f2a4";
} /* '' */
.icon-handshake-o::after {
  content: "\f2b5";
} /* '' */
.icon-address-book::after {
  content: "\f2b9";
} /* '' */
.icon-address-book-o::after {
  content: "\f2ba";
} /* '' */
.icon-address-card::after {
  content: "\f2bb";
} /* '' */
.icon-address-card-o::after {
  content: "\f2bc";
} /* '' */
.icon-user-circle::after {
  content: "\f2bd";
} /* '' */
.icon-user-circle-o::after {
  content: "\f2be";
} /* '' */
.icon-user-o::after {
  content: "\f2c0";
} /* '' */
.icon-id-badge::after {
  content: "\f2c1";
} /* '' */
.icon-telegram::after {
  content: "\f2c6";
} /* '' */
.icon-thermometer-2::after {
  content: "\f2c9";
} /* '' */
.icon-thermometer-quarter::after {
  content: "\f2ca";
} /* '' */
.icon-snowflake-o::after {
  content: "\f2dc";
} /* '' */
.icon-twitter-squared::after {
  content: "\f304";
} /* '' */
.icon-vkontakte-rect::after {
  content: "\f30a";
} /* '' */
.icon-skype::after {
  content: "\f30b";
} /* '' */
.icon-odnoklassniki-rect::after {
  content: "\f30d";
} /* '' */
.icon-linkedin-rect::after {
  content: "\f312";
} /* '' */
.icon-youtube::after {
  content: "\f313";
} /* '' */
.icon-calendar-1::after {
  content: "\f4c5";
} /* '' */
.icon-db-shape::after {
  content: "\f600";
} /* '' */
