.postionAbs {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0.3em 1em;
  > span {
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}
