.adminLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-image: url("../../assets/img/bgAdminLogin.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.adminLoginForm {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.adminLoginForm h2 {
  font-size: 25px;
  text-align: center;
  margin: 16px;
}

.adminLoginInput {
  display: flex;
  margin: 4px 60px;
  flex-direction: column;
  width: 70%;
}

.adminLoginInput label {
  text-align: start;
  margin: 8px;
}

.adminLoginInput div {
  background-color: #eeeeee;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
}

.adminLoginInput input {
  text-align: center;
  font-family: iranSans, serif;
  border: none;
  background-color: transparent;
  width: 90%;
}

.adminLoginForm button {
  font-size: 18px;
  padding: 8px 48px;
  margin: 8px;
}

.adminLoginForm h4 {
  cursor: pointer;
}
