.menuTitle-box {
  padding: 0 15px;
  > div {
    margin: 0 10px;
    cursor: pointer;
    a {
      height: 60px;
      color: white;
      text-align: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform ease-out 200ms, -webkit-opacity ease-out 200ms;
      transition: -webkit-transform ease-out 200ms, -webkit-opacity ease-out 200ms;
      transition: transform ease-out 200ms, opacity ease-out 200ms;
      transition-duration: 200ms, 200ms;
      transition-timing-function: ease-out, ease-out;
      left: 0;
      &:hover {
        color: black;
      }
    }
  }
}
