.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 110;
}
.modalBox.fadeIn {
  -webkit-animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.modalBox.fadeOut {
  -webkit-animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modalBox {
  background-color: white;
  box-shadow: 0 0 20px -3px black;
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  align-items: center;
}

.modalBox img {
  width: 72px;
  border-radius: 100px;
  padding: 8px;
}

.modalBox img.icError {
  border: 2px red solid;
}

.modalBox img.icSubmit {
  border: 2px green solid;
}

.modalBox * {
  margin: 8px;
}

.modalBox h2 {
  font-size: 20px;
}

.modalBox button {
  padding: 8px 16px;
  display: inline-block;
  border-left-color: rgb(48, 133, 214);
  border-right-color: rgb(48, 133, 214);
  border: 0;
  border-radius: 0.25em;
  background: #3085d6;
  color: #fff;
  font-size: 1.0625em;
}
/* @-webkit-keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
} */
